build/
dist/
_internal/
*.spec

__pycache__/
*.pyc
*.pyo
*.pyd

videos_input/
videos_output/
license_state.json
license.key

license_admin/
LicenseAdmin/
*.pem
*.key

*.mp4
*.mkv
*.mov
*.avi
*.webm
*.flv
*.wmv
*.m4v
*.3gp
*.mpeg
*.mpg
*.ts
*.mts
*.m2ts

Thumbs.db
Desktop.ini

.vscode/
.idea/
